<div class="container">
  <!--<div class="row">
    <div class="col-md-12">
      <linguao></linguao>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <h1>
        {{title}}
      </h1>
      <h2>
        {{tmp}}
      </h2>
      <h3>
        <linguao></linguao>
      </h3>
    </div>
    <div class="col-md-offset-2 col-md-8">
      <my-comp> </my-comp>
    </div>
  </div>-->
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <my-pipe>
        
      </my-pipe>
    </div>
    <!--<div class="col-md-offset-3 col-md-6">
      <cria-curso2></cria-curso2>
    </div>-->
  </div>
</div>